{% extends "base.html" %}
{% load crispy_forms_tags %}


{%block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron-color{
  background-color: #00753b
  color: #FFF;
}

{% endblock %}
</style>

{% block jumbotron %}
<div class = 'jumbotron row padding'>
  <div class="container">
    <div class="row">
      <div class = 'col-sm-6 '>
        <h1>Try Django 1.11</h1>
        <p>The MVP Landing project is designed to get your project started.The goal is to hellp you
          launch as soon as possible with the least amount of investment using time and money.Join Us today</p>
        <p>
        <a class="btn btn-lg btn-primary" href = "" role="button">Join Us &raquo;</a>
      </p>
      </div>
      <div class="col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WbBDpgszagg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block content %}
<div class="row padding lead" style="padding-bottom:25px">

  <div class = 'col-lg-3'>
    <p class = 'lead text-align-center'>Built with Django &amp; Bootstrap</p>
  </div>

  <div class = 'col-3'>
    <p class="lead text-align-center">Created for Starters of all kinds.</p>
  </div>

  <div class='col-3'>
    <p class="lead text-align-center">Always Open Source </p>
  </div>

  <div class="col-3 ">
        <p class= 'lead text-align-center'>{{ title }}</p>
        <form class="float-right" method = 'POST' action=''>{% csrf_token %}
        {{ form | crispy}}

        <input class = 'btn btn-outline-primary float-right'  type = 'submit' value = 'Sign Up'/>

        </form>
  </div>
</div>

{% endblock %}
